.checkboxesContainer {
	width: 100%;
}
.checkboxesContainer {
	@include displayFlex;
}
.oneCheckbox {
	display: inline-block;
	flex-grow: 1;
	padding: 12px 5px 10px 5px;
	@include keenCheckbox;
	border-bottom: 1px solid $activeColor;
	border-top: 1px solid $activeColor;
}
