.containerPage{
    display: inline-block;
    position: absolute;
    padding-left: 110px;
    padding-right: 25px;
    z-index: 0;

    width: 100%;
    top: 0px;
}

h1{
    display: inline-block;
    color: $headerTextColor;
    font-size: 3.5em;
    margin: 20px 0;
}

h2{
  color: $pTextColor;
  font-size: 2em;
}

.containerTop{
    @include displayFlex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0;
    .pageTitle{
        
    }
    .containerFunctionals{
        margin-bottom: 10px;
        .newDepartmentButton, .containerDropdown{
            display: inline-block;
            margin: 10px;
        }
    }
}