.detailsContainer {
	@include underlineInputs($bgColor);
	@include underlineDropDowns($bgColor);
	float: left;
	width: 100%;
	border: 4px solid $activeColor;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	h3 {
		color: $activeColor;
		margin: 10px 0 5px 0;
		font-size: 1.3em;
	}
	.generalDepartmentContainer {
		width: 100%;
		@include displayFlex;
		flex-flow: column wrap;
		padding-bottom: 12px;
		border-bottom: 1px solid $activeColor;
	}
	.membersContainer {
		width: 100%;
		@include displayFlex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: row;
	}
	.extraContainer {
		width: 100%;
		@include displayFlex;
		justify-content: space-between;
		padding-bottom: 12px;
	}
	.leftContainer {
		margin-right: 12px;
		flex: 1;
	}
	.rightContainer {
		margin-left: 12px;
		flex: 1;
	}
	.departmentID {
		width: 100%;
	}
	.groupContainer {
		width: 100%;
		@include displayFlex;
		flex-flow: row;
		justify-content: space-between;
		align-items: stretch;
		.memberName {
			padding: 10px 0;
			padding-right: 10px;
			flex: 1;
		}
		.memberAccess {
			padding: 10px 0;
			padding-right: left;
			flex: 1
		}
		.memberAccessButtons {
			flex: 1;
			@include displayFlex;
			flex-flow: row;
			text-align: center;
			height: 100%;
			a {
				line-height: 30px;
				flex: 1;
				color: $inactiveColor;
				border: 2px solid $inactiveColor;
				margin: 0;
				// padding: 5px;
				font-size: 15px;
				&:hover {
					background-color: $inactiveColor;
					border-color: $inactiveColor;
					color: white;
					transition: 0.5s;
					text-decoration: none;
				}
				&:active {
					opacity: 0.8;
					@include insetShadow;
					transition: 0.5s;
				}
			}
			.left {
				@include border-radius (25px, 0, 0, 25px);
			}
			.middle {
				border-left: none;
				border-right: none;
			}
			.right {
				@include border-radius (0, 25px, 25px, 0);
			}
			.active {
				background-color: $inactiveColor;
				border-color: $inactiveColor;
				color: white;
			}
		}
		.projectName {
			padding: 10px 0;
			padding-right: 10px;
			flex: 3;
		}
		.projectEdit {
			padding: 10px 0;
			padding-right: left;
			flex: 1;
		}
		.projectEditButton {
			text-align: center;
			width: 100%;
			@include displayFlex;
			align-content: stretch;
			a {
				line-height: 30px;
				width: 100%;
				color: $inactiveColor;
				border: 2px solid $inactiveColor;
				margin: 0;
				// padding: 5px;
				font-size: 15px;
				@include border-radius (25px, 25px, 25px, 25px);
				&:hover {
					background-color: $inactiveColor;
					border: 2px solid $inactiveColor;
					color: white;
					transition: 0.5s;
					text-decoration: none;
				}
				&:active {
					opacity: 0.5;
					transition: 0.5s;
				}
			}
		}
	}
	.membersContainer {
		@include displayFlex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 0;
		.buttonContainer {
			.roundedButton {
				display: inline-block;
				margin: 5px;
			}
		}
	}
}
@media all and (max-width: 990px) {
	.detailsContainer {
		.groupContainer {
			flex-flow: column nowrap;
			.memberName,
			.memberAccess,
			.projectName,
			.projectEdit {
				padding-bottom: 5px;
				padding-top: 5px;
			}
		}
	}
}
