.containerGraphs {
	height: 40vh;
	max-height: 400px;
    color: $graphTextColor;
}
.containerGraphOne {
	margin: 2% 4% 2% 4%;
	float: left;
	width: 44%;
	height: 100%;
	max-height: 350px;
}
.containerGraphTwo {
	margin: 2% 4% 2% 0%;
	float: left;
	width: 44%;
	height: 100%;
	max-height: 350px;
}
.containerGraph {
	margin: 1% 2% 0% 2%;
	float: left;
	width: 46%;
	height: inherit;
}
.graph {
	max-height: 100%;
	max-width: 100%;
}
.gradientSvg {
	height: 100%;
	width: 100%;
}
.gradientContainer {
	position: absolute;
	z-index: -1;
}
.gradientSVG {
	height: 100%;
	width: 100%;
}
.graphContainer {
	float: left;
	width: calc(50% - 20px);
	height: 300px;
	margin-left: 20px;
	background-color: $activeColor;
}
@media all and (max-width: 850px) {
	.containerGraphs {
		max-height: 350px;
	}
	.containerGraphOne,
	.containerGraphTwo {
		max-height: 300px;
	}
}
