.introductionMessage {
    h2 {
        font-size: 1.5em;
        font-weight: lighter;
        line-height: 150%;
        border-bottom: 1px solid $pTextColor;
    }
    span {
        color: $activeColor;
    }
}

.timelineContainer{
    @include displayFlex;
    flex-flow: row nowrap;
    text-align: center;
    .timelineText{
        width: 80%;
        text-align: left;
        margin-left: 40px;
        margin-bottom: 5px;
        margin-top: 39px;
        h2{
            margin: 10px auto;
        }
        h3{
            font-size: 1.7em;
            color: $dTextColor;
            margin: 0 auto;
        }
         h4{
            font-size: 1.5em;
            color: $dTextColor;
             margin: 0 auto;
        }
    }
    .timelineIcon{
        float: left;
        svg{
            width: 20px;
            height: 100px;
            .a{
                fill: $activeColor;
            }
        }
    }
    .timelineIconInactive{
        width: 200px;
        @include displayFlex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        .iconInactive{
            margin: 0 20px;
        }
        svg{
            width: 15px;
            height: 75px;
            .a{
                fill: $disabledButtonColor;
            }
        }
    }
    .timelineSVG{
        @include noSelect;
        cursor: default;
        z-index: 1;
        position: relative;
        margin-top: 5vh;
        padding: 0 auto;
        align-self: center;
        
        svg{
            #Group-3{
                fill: $disabledButtonColor;
                #Group-5{
                    stroke: $disabledButtonColor;
                }
            }
            
            #Group-Active{
               fill: $activeColor;
                #Group-5{
                    stroke: $activeColor;
                }
            }
            #Group-ActiveText{
                fill: $pTextColor;
            }
            #Group-2{
                fill: $pTextColor;
            }
            #Line{
                use{
                    stroke: $pTextColor;
                }
            }
        }
    }
}

.startButton{
    float: right;
    margin-top: 50px;
    align-self: flex-end;
}

#backIntroStepThree{
    margin-top: -136px;
}

#backIntroStepFour{
    margin-top: -135px;
}

//Copy from derpatmentNew.scss
.getStarted{
        @include greenButton(10px);
        display: inline-block;
        margin: 75px auto;
        }

.introStepThree{
   @include greenButton(10px);
    display: inline-block;
    margin: 64px auto;
}

.companySetUp{
    display: inline-block;
    width: 85%;
    margin: 25px auto;
    text-align: left;
}



//Copy from _containerPage.scss
.containerPage{
    @include displayFlex;
    flex-flow: column nowrap;
    position: absolute;
    padding-left: 110px;
    padding-right: 25px;
    z-index: 0;

    width: 100%;
    top: 0px;
    span {
        color: $activeColor;
    }
}

.containerFunctionals{
  display: inline-block;
  float: right;
  padding: 35px 40px 0 0;
}

h1{
  display: inline-block;
  color: $pTextColor;
  font-size: 3.5em;
}

h2{
  color: $pTextColor;
  font-size: 2em;
}


