.modal {
  @include underlineDropDowns($activeColor);
    color: $modalTextColor;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(0,0,0,0.8);
  position: fixed;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  .modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background: $activeColor;
    min-width: 50%;

    .header {
      text-align: center;
      border-bottom: 2px solid white;
        color: $modalTextColor;
        h1{
            color: $modalTextColor;
        }
    }

    .body {
        padding-bottom: 10px;
        border-bottom: 2px solid white;
        margin-bottom: 2%;
        color: $modalTextColor;
         h2{
            color: $modalTextColor;
        }
        .underlineTextArea{
            resize: vertical;
            display: block;
            margin: 0 0;
            width: 100%;
            font-size: 15px;
            background-color: rgba(256, 256, 256, 0.1);


            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -ms-border-radius: none;
            -o-border-radius: none;

            padding: 5px 0;
            padding-left: 5px;

            border: none;
            border-bottom: solid 3px $modalTextColor;
            //border-top: solid 1px $inactiveColor;
            -webkit-transition: border 0.3s;
            -moz-transition: border 0.3s;
            -o-transition: border 0.3s;
            transition: border 0.3s;
            
            &::-webkit-input-placeholder {
                color: $sTextColor !important;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: $sTextColor !important;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
                color: $sTextColor !important;  
            }

            &:-ms-input-placeholder {  
                color: $sTextColor !important;  
            }

                &:focus{
                outline:none;
                border-bottom: solid 3px $modalTextColor;
             //   border-top: solid 1px $activeColor;

            }
      }
    }
      
      .footer{
          @include displayFlex;
          justify-content: space-between;
          width: 100%;
          .footerButton{
              width: 150px;
              a {
                display: inline-block;
                width: 100%;
                @include squaredButton($activeColor);
            }
          }
              
      }

//    .footer {
//      position: relative;
//      &.three-buttons {
//        width: 100%;
//        height: 50px;
//        .footerButton {
//          position: absolute;
//
//          &:nth-child(1){
//            width: 30%;
//            left: 0;
//            margin-left: 20px;
//          }
//
//
//          &:nth-child(2){
//            width: 30%;
//            left: 50%;
//            right: 50%;
//            transform: translateX(-50%);
//          }
//
//          &:nth-child(3){
//            width: 30%;
//            right: 0;
//            margin-right: 20px;
//          }
//
//
//          display: block;
//          a {
//            display: inline-block;
//            width: 100%;
//            @include squaredButton($activeColor);
//          }
//        }
//      }
//    }
//
//    .footer {
//      &.two-buttons {
//        width: 100%;
//        .footerButton {
//          position: absolute;
//
//          &:nth-child(1){
//            width: 200px;
//            left: 0;
//            margin-left: 20px;
//          }
//
//          &:nth-child(2){
//            width: 200px;
//            right: 0;
//            margin-right: 20px;
//          }
//
//          display: block;
//          a {
//            display: inline-block;
//            width: 100%;
//            @include squaredButton($activeColor);
//          }
//        }
//      }
//    }
  }
}


