.generalContainer {
	border-bottom: 0px solid !important;
	@include displayFlex;
	flex-direction: column;
	h4 {
		color: $sTextColor;
	}
	h5 {
		font-size: 16px;
		margin: 10px 0;
	}
}
.signOutContainer {
	@include displayFlex;
	flex-direction: row;
	flex-wrap: nowrap;
	.leftContainer {
		//        flex-basis: 60%;
		margin: 0 0;
		flex: 1;
		h4 {
			color: $sTextColor;
		}
	}
	.rightContainer {
		//        flex-basis: 40%;
		flex: 1;
		padding-top: 25px;
	}
}
@media all and (max-width: 760px) {
	.signOutContainer {
		flex-direction: column;
		padding-bottom: 25px;
	}
}
.detailsContainer {
	@include underlineInputs($bgColor);
	@include underlineDropDowns($bgColor);
	float: left;
	width: 100%;
	border: 4px solid $activeColor;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	h3 {
		color: $activeColor;
		margin: 10px 0 5px 0;
		font-size: 1.3em;
	}
	p {
		padding: 0 0;
		margin: 0 0;
	}
	.generalContainer {
		width: 100%;
		@include displayFlex;
		justify-content: space-between;
		//align-items: stretch; /* align items in Cross Axis */
		//align-content: stretch; /* Extra space in Cross Axis */
		padding-bottom: 12px;
		border-bottom: 1px solid $activeColor;
		//    flex-direction: column;
	}
	.generalDepartmentContainer {
		width: 100%;
		@include displayFlex;
		flex-flow: column wrap;
		padding-bottom: 12px;
		border-bottom: 1px solid $activeColor;
	}
	.membersContainer {
		width: 100%;
		@include displayFlex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: row;
	}
	.infoContainer {
		@include displayFlex;
		flex-direction: column;
		padding-right: 12px;
		flex: 1;
		.riskID,
		.acceptedRisk,
		.currentIssue {
			flex: 1;
		}
	}
	.factorContainer {
		margin-left: 12px;
		flex: 1;
		h3 {
			margin: 0;
			font-size: $h3size;
			text-transform: uppercase;
			padding-bottom: 5px;
			padding-top: 10px;
		}
		.factorTable {
			font-size: $paragraphsize;
			line-height: 2em;
			width: 100%;
			.factorCategory {
				font-style: italic;
				min-width: 80px;
			}
			.highestValue {
				font-weight: bold;
			}
			.factorDescription {
				line-height: 1.2em;
			}
		}
	}
	.extraContainer {
		width: 100%;
		@include displayFlex;
		justify-content: space-between;
		padding-bottom: 12px;
	}
	.leftContainer {
		margin-right: 12px;
		flex: 1;
	}
	.rightContainer {
		margin-left: 12px;
		flex: 1;
	}
	.departmentID {
		width: 100%;
	}
}
