#slider-range {
  //background: linear-gradient(to right, $green 0%, $green 50%, $red 50%, $red 100%);

  .ui-slider-handle{
    &:nth-child(2){
      background-color: $green;
    }
  }

  .ui-slider-handle{
    &:nth-child(3){
      background-color: $red;
    }
  }

  .ui-widget-header {
    background-color: $orange;
  }
}
