.containerTopwithSubtitle {
	@include displayFlex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 0;
	.pageTitle {
		@include smallDropDown;
	}
	.containerFunctionals {
		.newDepartmentButton,
		.containerDropdown {
			display: inline-block;
			margin: 10px;
		}
	}
	h1 {
		margin-bottom: 10px;
		display: block;
		margin-top: 15px;
	}
	h3 {
		margin: 0 0 10px;
		font-size: 1.8em;
		display: inline-block;
		font-style: italic;
	}
	p {
		display: inline-block;
		font-size: 1.4em;
		padding-left: 10px;
		margin: 0 0;
	}
}
