.containerSettings {
	display: inline-block;
	width: 100%;
	text-align: center;
	border-top: 1px solid $pTextColor;
	padding-top: 10px;
	h2 {
		margin: 10px 0 10px 0;
	}
	.space {
		margin-top: 25px;
	}
	.definition {
		width: 75%;
		margin: 10px auto;
		p {
			font-size: 1.2em;
		}
	}
}
.settingsOptions {
	width: 100%;
	text-align: center;
	@include displayFlex;
	flex-direction: column;
	justify-content: stretch;
	a {
		width: 75%;
		max-width: 600px;
		margin: 10px auto;
		padding: 10px 0;
		border: 2px solid $activeColor;
		color: $activeColor;
		font-size: 1.4em;
		line-height: 1.4em;
		transition: 0.5s;
		@include shadowRight;
		@include border-radius (25px, 25px, 25px, 25px);
		&:hover {
			background-color: $activeColor;
			border: 2px solid $activeColor;
			color: white;
			transition: 0.5s;
			text-decoration: none;
		}
		&:active {
			opacity: 0.5;
			transition: 0.5s;
		}
	}
}
.settingsButton {
	background: black;
	margin: 10px 0;
	a {
		width: 100%;
		padding: 0 auto;
		background: white;
	}
}
