.sidebar{
  @include sidebarWidth;
  height: 100%;
  color: $pTextColor;
  background-color: $sbColor;
  @include shadowRight;
  position: fixed;
  z-index: 1;

  .sidebarMenu{
    @include sidebarWidth;
    text-align: center;

    a{
      @include sidebarWidth;
      display: inline-block;
      padding: 3vh 0;
        transition: 0.5s;

      img{
          opacity: 0.3;
          height: 30px;

      }
      .cancel, .back{
        height: 40px;
        opacity: 1;
      }

      &:hover{
        background-color: $activeColorOpacity;
        transition: 0.3s;

        img{
          opacity: 1;
        }
      }

      &:active{
        @include insetShadow;
        transition: 0.1s;
      }
    }

    .active{
      background-color: $activeColor;
      img{
        opacity: 1;
      }
    }
  }

  .sidebarProfile {
    @include sidebarWidth;
    text-align: center;

    img{
      display: inline-block;
      width: 66%;
      border: 1px rgba(255,255,255, 0.5) solid;
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }

  .sidebarFooter{
    position: absolute;
    bottom: 0;
    text-align: center;
    @include sidebarWidth;

    .keenLogo{
      width: 50%;
      display: inline-block;
      margin-top: 3vh;
    }

    p {
      font-size: 0.8em;
      color: $sTextColor;
      margin-top: 1.5vh;
      padding-bottom: 10px
    }

    span{
      color: white;
       // font-weight: 400;
    }
      

    }
}