.riskToleranceTable {
	width: 100%;
	margin: 0 auto;
	line-height: 3;
	color: $pTextColor;
	.headerTable {
		background-color: $activeColor;
		input::-webkit-input-placeholder {
			color: $dTextColor !important;
		}
		input:-moz-placeholder {
			/* Firefox 18- */
			color: $dTextColor !important;
		}
		input::-moz-placeholder {
			/* Firefox 19+ */
			color: $dTextColor !important;
		}
		input:-ms-input-placeholder {
			color: $dTextColor !important;
		}
		input[type=text] {
			width: 100%;
			background-color: $activeColor;
			border: none;
			line-height: 2;
			&:focus {
				outline: none;
			}
		}
		.deleteColumnButton {
			cursor: pointer;
			cursor: hand;
			display: inline-block;
			@include redButton(3px);
		}
	}
	tr {
		//text-indent: 10px;
		input[type=text] {
			width: 100%;
			border: none;
			background-color: $bgColor;
			&:focus {
				outline: none;
			}
		}
		#value,
		#indication {
			text-align: center;
		}
	}
}
.tableButtons {
	margin-top: 25px;
	text-align: center;
	.addColumnButton:hover {
		cursor: pointer;
		cursor: hand;
	}
	.addColumnButton {
		display: inline-block;
		@include greenButton(3px);
		margin-right: 15px;
	}
	.deleteColumnButton {
		cursor: pointer;
		cursor: hand;
		display: inline-block;
		@include redButton(3px);
	}
}
