$bgColor: #F2EEE8;
$brokenWhite: #FFFBF5;
$activeColor: #80A8CC;
$activeTextColor: #80A8CC;
$inactiveColor: #CACACA;
$wTextColor: #FFFFFF;
$w5Color: rgba(255,255,255,0.5);
$w2Color: rgba(255,255,255,0.2);
$pTextColor: #4B453A;

$introBGColor: #80A8CC;
$introLinkColor: #555459;

$insetShadowColor: rgba(0,0,0,0.5);
$shadowColor: rgba(0, 0, 0, 0.2);

$h1size: 100px;
$h2size: 80px;
$h3size: 20px;
$paragraphsize: 15px;

$headerHeight: 45px;
$menuHeight: 75px;
$postWidth: 90vw;
$rankingWidth: 90vw;
$maxWidth: 750px;

$heightDeck: 450px;
$widthDeck: 375px;

$green: #3ECA52;
$red: #FA6461;


//$sbColor: #3bafda  ; //sidebar background
//$sbpColor: #37373C  ; //profile background
//$bgColor: #F9F9F9  ; //dark grey background
//$activeColor: #4FC1E9  ; //light blue / heavenly blue
//$activeTextColor: #FFF;
//$buttonBorderColor: #3bafda;
//$activeColorOpacity: rgba(79,193,233,0.5);
//$headerTextColor: #3bafda; 
//$pTextColor: #555459; //primary text
//$sTextColor: rgba(255,255,255, 0.7) ; //secondary text
//$dTextColor: rgba(85,84,89, 0.8) ; //disabled text
//$buttonBackgroudColor: #3BAFDA;
//$dWhitelDarkBlue: #3BAFDA;
//$dWhitelLightBlue: #4FC1E9;
//$tableTextColor: #FFFFFF;
//$accentColor: #4FC1E9;
//$inactiveColor: #3BAFDA  ; //inactive department light grey
//$graphTextColor: #1C1C1C;
//$insetShadowColor: rgba(255,255,255,0.2);
//$shadowColor: rgba(0, 0, 0, 0.2);
//$textTableHeaderColor: #ffffff;
//$headerTableColor: #3BAFDA;
//$bigDepartmentTextColor: #FFFFFF;
//$editColor:#555459;
//$disabledButtonColor: #A7A7A9;
//$modalTextColor: #fff;
//$buttonBGColor:#555459;
//$textAreaBGColor: rgba(167,167,169, 0.1);
//
//$dropdownBGColor: #F9F9F9;
//
//$tablet: "screen and (max-width: 1024px) , screen and (max-height: 768px)";

//LOGIN PAGE

