$red: #FC635D;
$orange: #FDBE41;
$green: #35CC4B;

$h1size: 100px;
$h2size: 80px;
$h3size: 20px;
$paragraphsize: 15px;

@mixin font{
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

@mixin border-radius($radiustopleft, $radiustopright, $radiusbottomright, $radiusbottomleft) {
  -webkit-border-radius: $radiustopleft $radiustopright $radiusbottomright  $radiusbottomleft;
     -moz-border-radius: $radiustopleft $radiustopright $radiusbottomright  $radiusbottomleft;
      -ms-border-radius: $radiustopleft $radiustopright $radiusbottomright  $radiusbottomleft;
          border-radius: $radiustopleft $radiustopright $radiusbottomright  $radiusbottomleft;
}

@mixin shadowRight{
    -webkit-box-shadow: 2px 0 5px 0px $shadowColor;
    -moz-box-shadow: 2px 0 5px 0px $shadowColor;
    box-shadow: 2px 0 5px 0px $shadowColor;
}

@mixin shadow{
    -webkit-box-shadow: 2px 2px 5px 0px $shadowColor;
    -moz-box-shadow: 2px 2px 5px 0px $shadowColor;
    box-shadow: 2px 2px 5px 0px $shadowColor;
}

@mixin insetShadow{
    -webkit-box-shadow: inset 0px 0px 30px 0px $insetShadowColor;
    -moz-box-shadow: inset 0px 0px 31px 0px $insetShadowColor;
    box-shadow: inset 0px 0px 31px 0px $insetShadowColor;
}
@mixin noShadow{
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
}

@mixin sidebarWidth{
    width: 6vw;
    max-width: 90px;
    min-width: 75px;
}

@mixin displayFlex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin noSelect{
    /*supported from IE 9 and up */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
} 

@mixin greenButton($height){
    a{
                border: 2px solid $activeColor;
                //background-color: $buttonBackgroudColor;
                color: $activeColor;
                font-size: 1.2em;
                line-height: 1.2em; 
                padding: $height 25px;
                transition: 0.5s;
                @include shadowRight;
                @include border-radius (25px, 25px, 25px, 25px);

                &:hover{
                    background-color: $activeColor;
                    border: 2px solid $activeColor;
                    color: white;
                    transition: 0.5s;
                    text-decoration: none;
                }
 
                &:active{
                    opacity: 0.5;
                    transition: 0.5s;
        }
            }
}

@mixin redButton($height){
    a{
        border: 2px solid #FA5D5E;
        color: #FA5D5E;
        font-size: 1.2em;
        line-height: 1.2em;
        transition: 0.5s;
        padding: $height 25px;
        @include shadowRight;
        @include border-radius (25px, 25px, 25px, 25px);

        &:hover{
            background-color: #FA5D5E;
            border: 2px solid #FA5D5E;
            color: white;
            transition: 0.5s;
            text-decoration: none;
        }

        &:active{
            opacity: 0.5;
            transition: 0.5s;
        }
    }
}

@mixin greyButton($height){
    a{
        border: 2px solid $disabledButtonColor;
        color: $disabledButtonColor;
        font-size: 1.2em;
        line-height: 1.2em;
        transition: 0.5s;
        padding: $height 25px;
        @include shadowRight;
        @include border-radius (25px, 25px, 25px, 25px);
        
        &:hover{
            background-color: $disabledButtonColor;
            border: 2px solid $disabledButtonColor;
            color: white;
            transition: 0.5s;
            text-decoration: none;
        }

        &:active{
            opacity: 0.5;
            transition: 0.5s;
        }
    }
}

@mixin nonClickableButton($height){
    a{
        border: 2px solid rgba(255,255,255, 0.3);
        color: rgba(255,255,255, 0.3);
        font-size: 1.2em;
        line-height: 1.2em;
        transition: 0.5s;
        padding: $height 25px;
        @include shadowRight;
        @include border-radius (25px, 25px, 25px, 25px);
        
        &:hover{
            cursor: default;
        }
    }
}

@mixin squaredButton($contrastColor){
    border: 1px solid white;
    font-size: 1.2em;
    padding: 10px;
    transition: 0.5s;
    text-align: center;
    color: white;

    &:hover{
        text-decoration: none;
        color: $contrastColor;
        background: white;
        transition: 0.5s;
    }

    &:active{
        opacity: 0.5;
        transition: 0.5s;
    }

}

@mixin broadGreenButton($height){
    a{
                border: 2px solid $activeColor;
                width: 100%;
                color: $activeColor;
                font-size: 1.2em;
                line-height: 1.2em; 
                padding: $height auto;
                transition: 0.5s;
                @include shadowRight;
                @include border-radius (25px, 25px, 25px, 25px);

                &:hover{
                    background-color: $activeColor;
                    border: 2px solid $activeColor;
                    color: white;
                    transition: 0.5s;
                    text-decoration: none;
                }

                &:active{
                    opacity: 0.5;
                    transition: 0.5s;
        }
            }
}


@mixin underlineInputs($backgroundColor){
    .underlineTextInput{
        resize: none;
        display: block;
        margin: 0 0;
        width: 100%;
        font-size: 15px;
        background-color: $backgroundColor;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -ms-border-radius: none;
        -o-border-radius: none;

        padding: 5px 0;
        
        border: none;
        border-bottom: solid 3px $inactiveColor;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        -o-transition: border 0.3s;
        transition: border 0.3s;
    &:focus{
        outline:none;
        border-bottom: solid 3px $activeColor;
    }
  }
    
    .underlineTextArea{
        resize: vertical;
        display: block;
        margin: 0 0;
        width: 100%;
        font-size: 15px;
        background-color: $textAreaBGColor;


        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -ms-border-radius: none;
        -o-border-radius: none;

        padding: 5px 0;
        padding-left: 5px;

        border: none;
        border-bottom: solid 3px $inactiveColor;
        //border-top: solid 1px $inactiveColor;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        -o-transition: border 0.3s;
        transition: border 0.3s;

            &:focus{
            outline:none;
            border-bottom: solid 3px $activeColor;
         //   border-top: solid 1px $activeColor;

        }
      }
}


@mixin underlineDropDowns($backgroundColor){
    .underlineDropDown {
		padding-top: 1px;
        resize: none;
        font-size: 15px;
        border-bottom: solid 3px $inactiveColor;
        width: 100%;
       // overflow: hidden;
        background: url(../img/icons/arrowDownWhite.png) no-repeat $backgroundColor;
        background-position: right 10px center;
        background-size: 20px;
        // outline needs work
        line-height: 2em;
    }

    .underlineDropDown select {
        resize: none;
        background-color: black;
        //padding: 5px 8px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
    }

    .underlineDropDown select:focus {
        outline: none;
    }
    .underlineDropDown select option:checked:after {
    border-bottom: solid 3px white;
    }
    .underlineDropDown option{
        color: black;
    }
}

@mixin smallDropDown{
     .smalllDropDown{
        font-size: 1.4em;
        display: inline-block;
        background: url(../img/icons/arrowDownWhite.png) no-repeat;
        background-position: right 10px center;
        background-size: 20px;
        padding: 0 35px 0 10px;
        // outline needs work
        
        select {
            display: inline-block;
            color: $pTextColor;
            //padding: 5px 8px;
           // width: 100%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            
              &:focus{
                  outline: none;
                  font-style: normal;
            }
        }
        option{
                color: black;
                font-style: normal;
                font-size: 1.2em;
            } 
    }
}

@mixin buttonLikeDropdown($backgroundColor, $height){
        font-size: 1.2em;
       // line-height: 1.2em;
        background: url(../img/icons/arrowDownWhite.png) no-repeat $backgroundColor;
        background-position: right 15px center;
        background-size: 20px;
        border: 2px solid rgba(255,255,255, 0.3);
        color: rgba(255,255,255, 0.3);
        transition: 0.5s;
        @include shadowRight;
        @include border-radius (25px, 25px, 25px, 25px);
        margin: 0 0;
        padding: 0 0;
    
    select {
        background: url(../img/icons/arrowDownWhite.png) no-repeat transparent;
        background-position: right 15px center;
        background-size: 20px;
        width: 100%;
        border: none;
        box-shadow: none;
        -webkit-appearance: none;
        margin: 0 0;
        padding: 3px 25px 2px;
        &:hover{
            cursor: pointer;
        }
    }

    select:focus {
        outline: none;
    }
    option{
        color: black;
    }
}

@mixin recentDepartmentFormat{
  width: 27vw;
  max-width: 450px;
  min-width: 300px;
  max-height: 150px;
  min-height: 115px;
  height: 15.4vh;
}

@mixin otherDepartmentFormat{
  width: 21vw;
  max-width: 300px;
  min-width: 200px;
  max-height: 100px;
  min-height: 75px;
  height: 12vh;

  @media #{$tablet}{
    min-height: 85px;
  }
}

@mixin clearTable{
    table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
    }
}

@mixin keenCheckbox{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    .keenCustomCB {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      //margin-bottom: 15px;
      cursor: pointer;

    }
    .keenCustomCB input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .keenCustomCB__indicator {
        position: absolute;
        top: 0px;
        left: 0;
        height: 20px;
        width: 20px;
        background: rgba(255,255,255, 1);
        transition: 0.3s;
    }

    .keenCustomCB:hover input ~ .keenCustomCB__indicator,
    .keenCustomCB input:focus ~ .keenCustomCB__indicator {
        background: rgba(255,255,255, 0.7);
        transition: 0.3s;
    }
    .keenCustomCB input:checked ~ .keenCustomCB__indicator {
        background: #fff;
        transition: 0.3s;
    }
    .keenCustomCB:hover input:not([disabled]):checked ~ .keenCustomCB__indicator,
    .keenCustomCB input:checked:hover ~ .keenCustomCB__indicator {
      background: rgba(255,255,255, 0.7);
    }
    .keenCustomCB input:disabled ~ .keenCustomCB__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
    .keenCustomCB__indicator:after {
      content: '';
      position: absolute;
      display: none;
    }
    .keenCustomCB input:checked ~ .keenCustomCB__indicator:after {
      display: block;
    }
    .keenCustomCB--checkbox .keenCustomCB__indicator:after {
      left: 6px;
      top: -1px;
      width: 5px;
      height: 14px;
      border: solid $activeColor;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }
    .keenCustomCB--checkbox input:disabled ~ .keenCustomCB__indicator:after {
      border-color: #7b7b7b;
    }
    .keenCustomCB--radio .keenCustomCB__indicator:after {
      left: 7px;
      top: 7px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #fff;
    }
    .keenCustomCB--radio input:disabled ~ .keenCustomCB__indicator:after {
      background: #7b7b7b;
    }
}

//@mixin sortDropdown{
//    .wrapper-dropdown-5 {
//      /* Size & position */
//      position: relative;
//      width: 200px;
//      margin: 0 auto;
//      padding: 6px 25px;
//
//      /* Styles */
//      background: #69696D;
//      font-size: 1.1em;
//      color: white;
//      border-radius: 25px;
//      @include shadowRight;
//      cursor: pointer;
//      outline: none;
//      -webkit-transition: all 0.2s ease-out;
//      -moz-transition: all 0.2s ease-out;
//      -ms-transition: all 0.2s ease-out;
//      -o-transition: all 0.2s ease-out;
//      transition: all 0.2s ease-out;
//      -webkit-transition-delay: 0.3s;
//      -moz-transition-delay: 0.3s;
//      -ms-transition-delay: 0.3s;
//      -o-transition-delay: 0.3s;
//    }
//    
//}

/*
@mixin sidebar{
    @include sidebarWidth;
    height: 100%;
    color: white;
    background-color: $bgColor;
    @include shadowRight;
    position: fixed;

        .sidebarMenu{
        @include sidebarWidth;
        text-align: center;

        a{
            @include sidebarWidth;
            display: inline-block;
            padding: 3vh 0;

            img{
                width: 33%;
                opacity: 0.5;
            }

            &:hover{
                background-color: $activeColorOpacity;
                transition: 0.5s;

                img{
                    opacity: 1;
                }
            }

            &:active{
                @include insetShadow;
                transition: 0.1s;
            }
        }

        .active{
            background-color: $activeColor;
            img{
                opacity: 1;
            }
        }
    }

    .sidebarProfile {
        @include sidebarWidth;
        text-align: center;

        img{
            display: inline-block;
            width: 66%;
            border: 1px rgba(255,255,255, 0.5) solid;
            @include border-radius(50%, 50%, 50%, 50%);
        }
    }

    .sidebarFooter{
        position: absolute;
        bottom: 0;
        text-align: center;
        @include sidebarWidth;

        .keenLogo{
            width: 50%;
            display: inline-block;
            margin-top: 3vh;
        }

        p {
            font-size: 0.8em;
            color: $sTextColor;
            margin-top: 1.5vh;
            padding-bottom: 10px
        }

        span{
            color: $activeColor;
        }
    }
}
@mixin containterPage{
    display: inline-block;
    position: absolute;
    padding-left: 1vw;
    left: 100px;
}
*/



// good mixins??

/*@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {

  }
}*/
