.header{
    background-color: $brokenWhite;
    height: $headerHeight;
    width: 100%;
    @include shadow;
    position: fixed;
    z-index: 2;
   
    .headerWrapper{
        background-color: $brokenWhite;
        @include displayFlex;
        height: $headerHeight;
        z-index: 2;
        margin: 0 auto;
        width: 100%;
        max-width: $maxWidth + 20px;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 0 0;

        .headerButtons, h4{
            flex-basis: 1 auto;
            padding: 0 10px;
        }
        .headerButtons{
            width: 80px;
        }
        h4{
            font-size: 16px;
            padding-top: 5px;
        }
    }
    
    .askButton{
        @include displayFlex;
        @include border-radius (10px);
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        background-color: $activeColor;
        color: $wTextColor;
        padding: 5px 10px 5px 5px;
        img{
            height: 20px
        }
    }
    .dismissButton{
        @include displayFlex;
        @include border-radius (10px);
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        width: 70px;
        background-color: $activeColor;
        color: $wTextColor;
        padding: 5px 8px 5px 5px;
        img{
            height: 15px;
            margin-top: 2px;
        }
    }
    .profileButton{
        img{
            height: 25px;
            float: right;
        }
    }
    
    h4{
        text-transform: uppercase;
        //letter-spacing: 1px;
    }
    
}
.containterBody{
    padding-top: $headerHeight;
    z-index: 0;
    width: 100%;
    top: 0px;
}