.menu{
    @include displayFlex;
    background-color: $activeColor;
    height: $menuHeight;
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    
    .menuButtonContainer{
        flex: 1;
        text-align: center;
        a{
            height: 100%;
            width: 100%;
            color: $wTextColor;
            opacity: 0.5;
            font-size: 11px;
            
            img{
                height: 40px;
                margin: 5px auto;
                display: block;
                opacity: 0.5;
            }
        }
        .active{
            opacity: 1;
            
            img{
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width:767px){
    .menu{
        .menuButtonContainer{
            a{
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width:1200px){
    .menu{
        flex-direction: column;
        width: $menuHeight*2;
        height: 100%;
        padding-top: $headerHeight*2;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        
        .menuButtonContainer{
            a{
                font-size: 14px;
                opacity: 0.75;
            }
        }
    }
}