.menu{
    @include displayFlex;
    background-color: $activeColor;
    height: $menuHeight;
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    .menuButtonContainer{
        flex-basis: 1;
        a{
            height: 100%;
            width: 100%;
            text-align: center;
            color: $wTextColor;
            opacity: 0.5;
            
            img{
                height: 40px;
                margin: 5px auto;
                display: block;
                opacity: 0.5;
            }
        }
        .active{
            opacity: 1;
            
            img{
                opacity: 1;
            }
        }
    }
}